 *{
    position: relative;
 }
 .position-user{
     position: relative;
    background-color:rgb(228, 228, 228);
    margin:auto;
    width: 58%;
    top: 1em;
    height: 30em;
}
.param-user{
    display: block;
    background-color:#51bfd0;
    height:70px;
    width: 100%; 
}
.avatar-user img{
    width:50px;
    height:50px;
    border-radius: 100%;
    border: 2px solid #fff;
    margin: .2em 0em  0 1em; 
}
.nom-prenom-user{
    margin: -.3em 0em  0 0.009em;
    width:80px;
    line-height: 0em;
    text-align: center;
}
.prenom-user{
    top: -10px;
}
.wellcome-user{   
    color: #fff;
    margin: -5px 0  0 2.5em;
    float: left;
    bottom: 4em;
   line-height: 1.5em;
    text-align: center;
    width:80%;
    font-size: 20px;
}
.decon-user{
    color: #fff;
    float:right;
    margin: -9em 1.5em  0em 0em;
}
.decon-user a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    background-color: #3addd6;
    height: 30px;
    margin: 20px 0  0 0;
    text-indent: 10px;
    line-height: 30px;
    width: 100px;
    font-size: 14px;
    box-shadow:  0px 0px 5px 0px  #818181 ;
}
.content{
     background-color:#fff;
     box-shadow:  0px 0px 5px 0px  #818181 ;
     border-radius: 5px;
    width: 96%;
    margin: .5em 0 0em 1em;
    padding: 5px 0 .1px 0px;
    height: 22.8em;
 }
.content-quest{
    display: block;
    width: 60%;
    border: 1px solid #3addd6;
    border-radius: 10px;
    margin: -3em 0 0em 5px;
    float: left;
}
._question{
    text-align: center;
    background-color: rgb(228, 228, 228);
    border-right: 1px solid #3addd6;
    width: 96%;
    margin: -.7em 0 0 10px;
    height: 80px;
    
}
._question h3{
    text-decoration: underline;
     top: 20px;
     line-height: 20px;
}
.nbre-points{
    float: right;
    background-color: rgb(228, 228, 228);
    width: 2.3em;
    height: 1.5em;
    margin: 1em .8em 0  0em;
    text-align: center;
    line-height: 20px;
    border-bottom: 1px solid #3addd6;
}
._reponses{
    clear: both;
    margin-top: 4em;
}
._reponses .input-quest{
    display: block;
    height:25px;
    margin-left: 5em;

}

._reponses .input-quest span{
    font-size: 15px;
    font-family: "Open Sans";
    font-weight: bold;
}
.content-btn{
    margin-top: 5em;
}
.content-btn #precedent{
    background-color: #818181;
    margin: 0px 40px  10px 10px;

}
.content-btn #suivant{
    background-color: #3addd6;
    margin: 0px 10px  10px 0px;
    float: right;
} 
.content-btn #suivant,.content-btn #precedent{
color: #fff;
text-decoration: none;
height: 30px;
line-height: 20px;
width: 90px;
font-size: 14px;
box-shadow:  0px 0px 1px  #818181 ;
}
.top-score{
   width: 36%;
   height: 50px;
   top: -2em;
    float:left;
    margin-left: 10px;
}
.top-score ul::after{
    content: "";
    display :block;
    clear: both;
}
.top-score ul li {
    float: left;
    list-style-type: none;
    color:  #818181;
    font-size: 14px;
    padding-left: -20px;
}
.top-score ul li a{
    display: inline-block;
    text-decoration: none;  
    padding: 10px 10px;
}
 ul{
    margin-left: -30px;
}
.meilleur_5, .meilleur_1{
  display: none;
}
.top-score li:hover  .meilleur_1,
.top-score li:hover  .meilleur_5{
    display: inline-block;
    position: absolute;
    top: 100%;
    left :0px;
    padding:0px ;
    z-index: 1000;
}
.top-score li a:hover{
    background-color: #fff;
    color:#818181;
    box-shadow:  0px 0px 10px 0px  #818181 ;
    height: 20px;
    border-radius: 5px;
    padding-top: 10px;
}
.meilleur_5{
    margin: 10px 0 0 0;
    color: #000;
    width: 13em;
    text-indent: 10px;
    box-shadow:  0px 0px 10px 0px  #818181 ;
}
.meilleur_1{
    margin: 10px 0 0 0;
    color: #000;
    width: 13em;
    text-indent: 10px;
    box-shadow:  0px 0px 10px 0px  #818181 ;
}
.color1{
    border-bottom: 4px solid  #51bfd0 ;
}
.color2{
    border-bottom: 4px solid  #3addd6 ;
}
.color3{
    border-bottom: 4px solid  #cddd3a ;
}
.color4{
    border-bottom: 4px solid  #dd963a ;
}
.color5{
    border-bottom: 4px solid  #818181 ;
}